<link rel="stylesheet" href="/assets/css/interface.css" />
<script src="/assets/js/interface.js"></script>
<header>
    <span class="brand">{{brand}}</span>
    <div class="profile">
        <img src="assets/res/icons/person.svg" alt="{{username}}" class="profile-picture">
        <div class="user-info">Welcome, <span class="username">{{username}}</span>
            <div class="user-actions">
                <a href="#" class="logout">Logout</a>
            </div>
        </div>
    </div>
</header>
<div class="power-bar">
    <button class="icon restart-server"
            data-icon-src="/assets/res/icons/power.svg"
            data-tooltip="Restart Server">
    </button>
    <button class="icon restart-camera"
            data-icon-src="/assets/res/icons/refresh.svg"
            data-tooltip="Refresh Camera">
    </button>
    <button class="icon open-settings"
            data-icon-src="/assets/res/icons/settings.svg"
            data-tooltip="Settings">
    </button>
    <button class="icon toggle-controls toggle on"
            data-icon-src="assets/res/icons/expand.svg"
            data-tooltip="Toggle Motor Controls">
    </button>
</div>
<div class="motor-controls">
    <button class="move-robot-control stop"
            data-icon-src="/assets/res/icons/stop.svg"></button>
    <button class="move-robot-control forwards"
            data-icon-src="/assets/res/icons/arrow.svg"></button>
    <button class="move-robot-control backwards"
            data-icon-src="/assets/res/icons/arrow.svg"></button>
    <button class="move-robot-control left"
            data-icon-src="/assets/res/icons/arrow.svg"></button>
    <button class="move-robot-control right"
            data-icon-src="/assets/res/icons/arrow.svg"></button>
</div>
<div class="image-port">
    <img src="assets/res/missing.png" alt="view" class="image-feed">
</div>

<div class="dialog-container">

</div>