body {
    color:#333;
    padding:0;
}


header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:#333;
    color:#eee;
    box-shadow:inset 0 -8px 12px -8px #000;
    padding:12px 10%;
    z-index:99;
}

header .brand {
    vertical-align:middle;
    font-weight:bold;
    font-size:24px;
}

header .sub-brand {
    font-weight:normal;
    color:#ccc;
    padding-left:24px;
}

main {
    display:block;
    width:auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    padding:72px 7% 24px;
    box-sizing:border-box;
    margin:0;
    min-height:100%;
}

.image-feed {
    width:100%;
    min-height:400px;
}

.robot-controls {
    display:inline-block;
    text-align:center;
    font-size:0;
    width:30%;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto 0;
    padding-top:12%;
}
.move-robot-control {
    width:64px;
    height:64px;
    font-size:36px;
}
.interface-panel {
    font-size:0;
    position:relative;
    background:#ddd;
    box-shadow:4px 4px 8px -2px #333;
    margin-bottom:24px;
}

.image-port {
    display:inline-block;
    width:70%;
    position:relative;
}

.image-port.fullscreen {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999;
    width:100%;
    cursor:pointer;
}

@keyframes rotate360 {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}

.image-port.loading::after {
    content:"";
    -webkit-mask: url(/assets/res/icons/refresh.svg) top left / cover;
    -moz-mask: url(/assets/res/icons/refresh.svg) top left / cover;
    mask: url(/assets/res/icons/refresh.svg) top left / cover;
    background:#fff;
    width:256px;
    height:256px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    animation:rotate360 linear 2s infinite;
}

.image-port.loading::before {
    content:"Please wait...";
    color:#fff;
    font-weight:bold;
    font-size:32px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    padding-top:256px;
    padding-bottom:58px;
    height:0;
    width:100%;
    text-align:center;
    background:rgba(0,0,0,0.4);
}

.icon svg {
    fill:#333;
    height:64px;
    width:64px;
}

.top-controls {
    position:absolute;
    top:0;
    left:0;
    right:0;
    box-shadow:0 4px 8px -4px #333;
    height:80px;
}

.top-controls, .top-controls button, .top-controls .float-right {
    background:#ccc;
}

.top-controls .float-right {
    z-index:9;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
}

.interface-panel .control-row {
    padding:16px 5%;
    font-size:18px;
}

.styled-select ul {
    position:absolute;
    white-space:nowrap;
    overflow:auto;
    max-height:200px;
    bottom:100%;
}

.camera-option-input:not(.show),
.camera-option-input + .styled-select:not(.show),
.ui-option-input:not(.show),
.ui-option-input + .styled-select:not(.show) {
    display:none;
}

.interface-panel .control-row {
    text-align:center;
}
.interface-panel .control-row > * {
    text-align:left;
}

.option-number-input {
    width:240px;
}
.option-text-input {
    width:240px;
}

.camera-option-input.show,
.ui-option-input.show {
    text-align:center;
}

.clock {
    font-size:42px;
    font-weight:bold;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    padding:12px 24px;
    display:none;
}

.clock .milliseconds {
    font-size:24px;
    color:#777;
}

[disabled] svg {
    fill:#777;
}

@media (min-width: 1200px) {
    .move-robot-control {
        width:92px;
        height:92px;
        font-size:64px;
    }
    .clock {
        display:block;
    }
    .camera-config {
        display:inline-block;
        width:65%;
    }
    .ui-config {
        display:inline-block;
        width:30%;
        margin-left:4%;
    }
}

[data-tooltip] {
    position:relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    margin: 8px auto;
    top: -100%;
    opacity: 0;
    background: #555;
    padding: 6px 10px;
    white-space: nowrap;
    color: #eee;
    text-align: center;
    transform: translate(-50%);
    transition: 0.2s all;
    pointer-events: none;
    display:block;
    bottom: initial;
    right: initial;
    width: auto;
    font-size: inherit;
    line-height: inherit;
    box-shadow:none;
    z-index:12;
}

[data-tooltip].on::after {
    background:#555;
    box-shadow:none;
}

[data-tooltip]::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 8px;
    opacity: 0;
    border-style:solid;
    border-color:transparent transparent #555 transparent;
    border-width:0 8px 8px 8px;
    transition: 0.2s all;
    pointer-events: none;
    display:block;
    z-index:12;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    top: 100%;
    opacity: 1;
}

.fullscreen-notification {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60%;
    max-height: 40%;
    background: #eee;
    box-shadow: 4px 4px 8px -4px #000;
    padding: 24px 5%;
    overflow:auto;
}

.notification-buttons {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background:#ccc;
    padding:12px 20%;
    text-align:right;
}